@import url('https://fonts.googleapis.com/css?family=Exo:100,200,400');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto';
    background-image: url("../images/BG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
    overflow: hidden;
  }

.grad{
	margin-top: 270px;
	height: 340px;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.4);
}
.header{
	position: absolute;
	top: calc(50% - 85px);
	left: calc(50% - 255px);
	z-index: 2;
}

.p1{
	color: white;
	text-align: center;
}
.p2{
	color: #5379fa;
	margin-left: 930px;
}

.header div{
	float: left;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 56px;
	font-weight: 200;
}

.header div span{
	color: #5379fa !important;
}

.login{
	margin-top: 40px;
	margin-left: 930px;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 160px;
	width: 260px;
	padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}